<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Login Here</div>
    <div class="card-body">
      <form #loginForm=ngForm (ngSubmit)="onSubmit()">

        <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div>
        <div class="form-group row">
          <label for="login" class="col-sm-2 col-form-label">Login</label>
          <div class="col-sm-10">
            <mat-form-field>
              <input matInput type="text" name="login" class="form-control" id="login" placeholder="login"
                     [(ngModel)]="form.login" required>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Mot de passe</label>
          <div class="col-sm-10">
            <mat-form-field>
            <input matInput type="password" name="password" class="form-control" id="inputPassword3"
                   placeholder="Password" [(ngModel)]="form.password"
                   required>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 offset-2">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
          </div>
        </div>

        <small class=float-right>
          <a routerLink="/request-password-reset">Mot de passe oublié ?</a>
        </small>
      </form>
    </div>
  </div>
</div>


