<div class="popIn">
    <div class="crossPopIn whiteText" aria-label="Close" (click)="activeModal.close('Cross click')">X</div>
    <div class="contentPopIn">
      <div class="blueText titleConnexion">Connexion</div>
      <div class="connexionFrom">
        <form #loginForm=ngForm (ngSubmit)="onSubmit()">

          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
          </div>
          <div class="alert alert-danger" *ngIf="bErrorActive">
            <p>Vous n'avez pas encore activé votre compte.</p>
          <br>
            <button (click)="redirectionVersFormulaire()">Recevoir un nouveau mail d'activation.</button>
          </div>

          <div class="inputGroup">

            <label for="login" class="blueText" >Adresse e-mail :</label>
            <input type="text" name="login" id="login"
                       [(ngModel)]="form.login" required>
          </div>
          <div class="inputGroup">
            <label for="inputPassword3" class="blueText">Mot de passe :</label>
            <input type="password" name="password"  id="inputPassword3"
                       [(ngModel)]="form.password"
                       required>
          </div>
          <button type="submit" class="btonOk whiteText" [disabled]="!loginForm.valid">OK</button>


          <a (click)="redirectLostPassword()" class="orangeText linkConnexion">Mot de passe oublié ?</a>
          <a (click)="redirectSignup()" class="blueText linkConnexion">Vous n'avez pas encore de compte ?</a>

        </form>
      </div>
    </div>
</div>


