<div id="bandeau">
  <img src="assets/img/inscription.jpg" alt="" srcset="">
  <h1 id="bandeauTitle" class="regular">Inscrivez vous</h1>
</div>
<div class="custom-container">
  <form #signupForm=ngForm (ngSubmit)="onSubmit()">
    <!--name-->
    <div class="group-form">
      <label for="name" >Nom</label>
      <input type="text" name="name" id="name"
                 [(ngModel)]="form.name" required>
    </div>

    <!--firstName-->
    <div class="group-form">
      <label for="firstName" >Prénom</label>
      <input type="text" name="firstName" id="firstName"
                 [(ngModel)]="form.firstName">
    </div>

    <div class="group-form">
      <label for="login">Login</label>
      <input type="text" name="login" id="login"
               [(ngModel)]="form.login"
               required (change)="verifLogin(form.login)">
      <div class="alert alert-danger" *ngIf="isUserLoginDoesNotExist">
        <p>Cet identifiant est déjà utilisé.</p>
        <p>Veuillez en choisir un autre.</p>
      </div>
    </div>
    <!--mail-->
    <div class="group-form">
      <label for="inputEmail3" >Email</label>

      <input type="email" name="email" id="inputEmail3"
                 [(ngModel)]="form.email" required>
    </div>
    <!--password-->
    <div class="group-form ">
      <label for="inputPassword3" >Mot de passe</label>

      <input type="password" name="password"  id="inputPassword3"
                  [(ngModel)]="form.password"
                  (change)="chackPasswordConfirm()"/>

    </div>
    <!--password2-->
    <div class="group-form ">
      <label for="inputPasswordConfirmation3">Confirmer le mot de passe</label>

      <input type="password" name="password_confirmation" id="inputPasswordConfirmation3"
             (change)="chackPasswordConfirm()"

                 [(ngModel)]="form.password_confirmation" required>

      <div class="alert alert-danger" *ngIf="!isPasswordConfirm">Les deux mots de passe ne
        sont pas identiques
      </div>

    </div>


    <div class="group-form ">
      <label for="specAlim">Centres d'intérêt</label>

      <input matInput type="text" id="specAlim" name="specAlim"
                 [(ngModel)]="form.specAlim">

    </div>



    <button id="submitBtn" type="submit" class="underlineContainer" [disabled]="!signupForm.valid || isUserLoginDoesNotExist">
      <span class="underlineAnimation whiteText">Créer mon compte</span>
    </button>
    <div style="display: flex; justify-content: center; margin-bottom: 25px">
      <a (click)="open('/')" style="text-decoration: underline; cursor:pointer;" >Vous avez déjà un compte ?</a>
    </div>

  </form>
</div>
