<div id="bandeau">
    <img src="assets/img/header.jpg" alt="" srcset="">
    <h1 id="bandeauTitle" class="regular">La conférence, autrement.</h1>
</div>

<div class="custom-container">
    <h2 class="blueText bold discoverTitle">Le concept</h2>
  <div><p>Voici le concept.</p></div>
    <h2 class="blueText bold discoverTitle">Nos trois prochaines conférences</h2>
    <div class='container3First row' >
        <div *ngFor="let diner of diners; let i = index" class="col-sm-12 col-md-6 col-lg-4 p-0 p-md-3 cardContainer" [ngClass]="i==1 ? 'secondCol' : ''" (click)="selectDiner(diner.id)">
            <!-- boucle for -->
            <div   class="card">
                <div class="card-image">
                    <img src="assets/img/desktop/{{diner?.img}}">
                </div>
                <div class="card-content">
                    <h3 class = "card-title orangeText medium">{{ diner.title}}</h3>
                    <div class="card-info blueText">
                        <div class="card-info-left bold">
                            <span class="dayDate">{{ diner.date | date : 'dd'}}</span>
                            <span class="monthDate">{{diner.date | date: 'MMM' : 'fr' }}</span>
                        </div>
                        <div class="card-info-right light">
                            <span class="date">{{diner.date | date :"EEE dd/MM - HH'h'mm"}}</span>
                            <span>{{diner?.place?.name}} - {{diner?.city?.nom_reel}}</span>
                        </div>
                    </div>
                    <div class="blueText reserve bold"><a (click)="selectDiner(diner.id)">Réservez</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-container btnContainer">
    <div routerLink="diners/list" class="whiteText SeeAllConf medium underlineContainer"><span class="underlineAnimation whiteText">RETROUVEZ TOUTES LES CONF' ICI</span></div>
</div>
<div class="custom-container">

    <div class="blueText organizeText col-12">
        Vous voulez organiser une conf' ?<br>
        Avec plaisir !
    </div>
</div>
<div class="custom-container btnContainer ">
    <div (click)="redirectToOrganize()"  class="whiteText organizeButton col-12 underlineContainer"><span class="underlineAnimation whiteText">C'EST PAR ICI.</span></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="whiteText col-12 newsletterText">
            <span class="regular">Tenez-vous informés de notre actualité et des conférences à venir.</span>
            <span class="medium">ABONNEZ-VOUS À NOTRE NEWLETTER</span>
            <div class="newsletterInput">
                <input type="email">
                <button type="submit" class="blueText medium">OK</button>
            </div>
        </div>
    </div>
</div>
