#bandeau img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.custom-container{
    max-width: 90%;
    margin: 0 auto;
}
#bandeauTitle{
    text-align: center;
    z-index: 1;
    color: white;
    font-size: 4.5rem;
}
#bandeau {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 450px;
    overflow: hidden;
    position: relative;
}
h2{
    padding: 20px 10px 5px;
}
.discoverTitle{
    border-bottom: 1px solid var(--blue-custom);
    font-size: 3rem;
}
.container3First{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 30px 15px;
    display: flex;
    margin: unset !important;
}
.secondCol{
    border-left: 1px solid var(--blue-custom);
    border-right: 1px solid var(--blue-custom);
}
.card-content{
    border: none;
}

.SeeAllConf{
    font-size: 1.875rem;
    background-color: var(--blue-custom);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.organizeText{
    text-align: center;;
    background-color: white;
    padding: 45px 0;
    font-size: 3rem;
    line-height: normal;

}
.organizeButton{
    background-color: var(--orange-custom);
    font-size: 1.875rem;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.newsletterText{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    padding: 45px 0;
    background-color: var(--blue-custom);
}

.newsletterText span{
    text-align: center;
    font-size: 1.875rem;
}
.newsletterText span:nth-child(1){
    padding-bottom: 20px;
}

.newsletterInput{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0 0;
}
.newsletterInput input{
    width: 400px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 5px;
}
.newsletterInput input:focus{
   outline: none;
}
.newsletterInput button{
    border: none;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
}
.newsletterInput button:focus{
    outline: none;
}

@media screen and (max-width: 991px) {
    #bandeau {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 200px;
        overflow: hidden;
        position: relative;
    }

    #bandeauTitle{
        text-align: center;
        z-index: 1;
        color: white;
    }
    .custom-container{
        max-width: 95%;
        margin: 0 auto;
    }

    .secondCol{
        border: none;
    }
    .card-content{
        border: 1px solid var(--blue-custom);
        border-top: none;
    }
    .SeeAllConf{
        height: unset;
        padding: 10px 5px;
    }
}