<h1 class="center">Profil</h1>
<div class="container">
  <div class='row'>
    <div class="col s6 m4" appBordure="yellow">
      <div >
        <!--class="card horizontal"-->
        <div class="card=stacked">
          <div >
            <!--class="card-content"-->
            <p>Login : {{ user?.login}}</p>
            <p>Nom : {{ user?.name}}</p>
            <p>Prénom : {{ user?.firstName}}</p>
            <p>E-mail : {{ user?.email}}</p>
            <p>Ville : {{ user?.cities?.nom_reel}}</p>
            <p>Type de compte : {{ user?.usertypes?.label}}</p>
            <p>Régime alimentaire / allergies : {{ user?.specAlim}}</p>
            <!-- pipe name "majTitre" -->
            <!--<p>{{ disque.created | date:"dd/MM/yyyy"}}</p>-->
            <!-- pipes -> ameliore l'affichage, plusiers possible -->
            <!--<p><span *ngFor="let categorie of disque.cat" class=" {{ categorie | disqueCategory }} "> {{ categorie }} </span></p>-->
          </div>

        </div>
      </div>
      <a class="navbar-brand" *ngIf="isMe" (click)="selectProfile(user.id)" style="cursor:pointer">Modifier mon profil</a>
      <br> <a class="navbar-brand" *ngIf="isMe" (click)="modifPassword(user.id)" style="cursor:pointer">Modifier mon mot de passe</a>
    </div>

    <!--<div *ngFor="let user of users" class="col s6 m4" appBordure="yellow">-->
      <!--&lt;!&ndash; boucle for &ndash;&gt;-->
      <!--<div class="card horizontal">-->
        <!--<div class="card=stacked">-->
          <!--<div class="card-content">-->
            <!--<p>Login : {{ user.login}}</p>-->
            <!--<p>Nom : {{ user.name}}</p>-->
            <!--<p>Prénom : {{ user.firstName}}</p>-->
            <!--<p>E-mail : {{ user.email}}</p>-->
            <!--<p>Ville : {{ user.cities.nom_reel}}</p>-->
            <!--<p>Type de compte : {{ user.usertypes.label}}</p>-->
            <!--&lt;!&ndash; pipe name "majTitre" &ndash;&gt;-->
            <!--&lt;!&ndash;<p>{{ disque.created | date:"dd/MM/yyyy"}}</p>&ndash;&gt;-->
            <!--&lt;!&ndash; pipes -> ameliore l'affichage, plusiers possible &ndash;&gt;-->
            <!--&lt;!&ndash;<p><span *ngFor="let categorie of disque.cat" class=" {{ categorie | disqueCategory }} "> {{ categorie }} </span></p>&ndash;&gt;-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->


    <!--</div>-->
  </div>
</div>

