<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <div>
    <a class="navbar-brand" routerLink="accueil">Accueil</a>
    <a class="navbar-brand" routerLink="diners/create" >creatediner</a>

    <a class="navbar-brand" routerLink="connexion" *ngIf="!loggedIn">Connexion</a>
    <a class="navbar-brand" routerLink="signup" *ngIf="!loggedIn">Créer mon compte</a>
    <a class="navbar-brand" routerLink="profile/list" *ngIf="loggedIn">Liste des profil</a>
    <a class="navbar-brand" routerLink="profile/view" *ngIf="loggedIn">Mon profil</a>
    <a class="navbar-brand" routerLink="diners/list" *ngIf="loggedIn">Les diners</a>
    <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Se déconnecter</a>
  </div>
</nav>
