::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: blue;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: darkcyan !important;
}



.Economie{
  background: rgba(100,0,0,.70)!important;

}

.Santé{
  background: rgba(0,0,100,.70)!important;
}

.Ecologie{
  background: rgba(0,100,0,.70)!important;
}

.mainCard{
  padding: 10px;
  color: rgba(0,0,0,.87);
  margin-bottom: 10px;
  cursor : pointer;
}

.titleCard{
  font-size: larger;
}

.subtitleCard{
  font-size: large;
}

