<div id="bandeau">
  <img src="assets/img/imageHeaderConf.jpg" alt="" srcset="">
  <h1 id="bandeauTitle" class="regular">Les conférences</h1>
</div>


<div class="container2bttn">
  <div class="whiteText SeeConf underlineContainer" (click)="selectFutureDiners()" [ngClass]="activeClass ? 'SeeFuturesConf' : 'SeeOldConf'" >
    <span class="underlineAnimation" [ngClass]="activeClass ? 'whiteText' : 'blueText'" >Les conf's à venir</span></div>
  <div class="whiteText SeeConf underlineContainer" (click)="selectOldDiners()" [ngClass]="!activeClass ? 'SeeFuturesConf' : 'SeeOldConf'" >
    <span class="underlineAnimation" [ngClass]="!activeClass ?  'whiteText' : 'blueText'">Les conf's passées</span></div>
</div>
<div class="container">


  <div class="boutonFiltreBleu blueText" style="position: relative" #dropdown1>
    <div (click)="showDropdown1 = !showDropdown1 ">THEMES</div>
    <div id="dropdownMyThemes" class="custom-dropdown regular" [ngClass]="showDropdown1 ? 'showDrop' : 'hideDrop'">
      <span *ngFor="let theme of themes; let i = index">
        <mat-checkbox name="themes" value="{{theme.id}}"
                      (change)="changeThemes(theme.label)">{{theme.label}}
        </mat-checkbox>
      </span>
    </div>

  </div>


  <div class="boutonFiltreBleu blueText" style="position: relative" #dropdown2>
    <div (click)="showDropdown2 = !showDropdown2 ">DATES</div>
    <div id="dropdownMyDates" class="custom-dropdown regular" [ngClass]="showDropdown2 ? 'showDrop' : 'hideDrop'">
      <mat-radio-group value="date">
      <mat-radio-button name="today" (change)="today()">Aujourd'hui  </mat-radio-button>
      <mat-radio-button name="tomorrow" (change)="tomorrow()">Demain  </mat-radio-button>
      <mat-radio-button name="week" (change)="week()">Cette semaine  </mat-radio-button>
      <mat-radio-button name="currmonth" (change)="currmonth()">Ce mois  </mat-radio-button>
      <mat-radio-button name="month" (change)="nextmonth()">Le mois suivant  </mat-radio-button>
      <mat-radio-button name="curryear" (change)="curryear()">Dans l'année  </mat-radio-button>
      <mat-radio-button name="tous" (change)="tous()">Tous les dîners </mat-radio-button>
      </mat-radio-group>
    </div>

  </div>

  <div class="recomandationConf">
    <div *ngFor="let d of diners; let i = index" class="col-sm-12 col-md-6 col-lg-3 cardContainer p-2"
         (click)="selectDiner(d.id)">
      <!-- boucle for -->
      <div class="card" *ngIf="!mobile">
        <div class="card-image">
          <img src="assets/img/desktop/{{d?.img}}">
        </div>

        <div class="card-content">
          <div class="card-title orangeText medium"><h3>{{ d.title}}</h3></div>
          <div class="card-info blueText">
            <div class="card-info-left bold">
              <span class="dayDate">{{ d.date | date : 'dd'}}</span>
              <span class="monthDate">{{d.date | date: 'MMM' : 'fr' }}</span>

            </div>
            <div class="card-info-right light">
              <span class="date">{{d.date | date :"EEE dd/MM/yyyy - HH'h'mm"}}</span>
              <span class="yearDate">{{d.date | date: 'yyyy' : 'fr' }}</span>
            </div>
          </div>
          <div class="blueText reserve bold"><a (click)="selectDiner(d.id)">Réservez</a></div>
        </div>
      </div>
      <div *ngIf="mobile" class="blueText">
        {{d?.title}}
      </div>
    </div>
  </div>
</div>

