<form #dinerForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="custom-container blueText medium">

        <div class="group-form">
          <label for="title">Titre :</label>
          <input type="text" id="title"  name="title" #name="ngModel" [(ngModel)]='diner.title'
                 required
                 pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._;\-\,\!\?\'\s-]{1,100}$">
        </div>
        <div class="group-form">
          <label for="description">Description :</label>
          <textarea type="text" id="description"  name="description" #name="ngModel" rows="5"
                 [(ngModel)]='diner.description' required
                    pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._;\-\,\!\?\'\s-]{1,100}$"></textarea>
        </div>
        <div class="group-form">
          <label for="dateDiner">Date :</label>
          <input id="dateDiner" placeholder="yyyy-mm-dd"
                 [(ngModel)]="diner.dateDiner" ngbDatepicker #d="ngbDatepicker" name="dateDiner" (focus)="d.open()">
        </div>
        <div class="group-form" style="align-items: center">
          <ngb-timepicker [(ngModel)]="diner.time" name="time"></ngb-timepicker>
        </div>
        <div class="group-form">
          <label for="price">Tarif</label>
          <input type="number" id="price"  name="price" #name="ngModel" [(ngModel)]='diner.price'
                 required>
        </div>
        <div class="group-form">
          <label for="maxMembers">Nombre maximum de participants</label>
          <input type="number" id="maxMembers"  name="maxMembers" #name="ngModel"
                 [(ngModel)]='diner.maxMembers' required>
        </div>

        <div class="group-form">
          <label for="selectPlace">Choix du lieu</label>
          <select  id="selectPlace"
                  required
                  [(ngModel)]="diner.id_Places" name="selectPlace"
                  #place="ngModel">
            <option *ngFor="let pla of places" [value]="pla.id">{{pla.name}} - {{pla.nameStreet}} -
              {{pla.city.nom_reel}}
            </option>
          </select>
          <div [hidden]=" place.valid || place.pristine" class="alert alert-danger">
            Un lieu est nécessaire.
          </div>
        </div>

        <div class="group-form">
          <label for="selectTheme">Indication du thème</label>
          <select  id="selectTheme"
                  required
                  [(ngModel)]="diner.id_Themes" name="selectTheme"
                  #theme="ngModel">
            <option *ngFor="let the of themes" [value]="the.id">{{the.label}}</option>
          </select>
        </div>



        <button id="submitBtn" [disabled]="!dinerForm.valid" type="submit" class="underlineContainer"  >
          <span class="whiteText underlineAnimation medium">CRÉER LA CONF'</span>
        </button>



    </div>


</form>
