<h1 class="center">Les dîners auquels j'ai participé</h1>
<div class="container">

  <div class='row'>
    <div *ngFor="let usersdiner of usersdiners" class="col s6 m4" appBordure="yellow">
      <!-- boucle for -->
      <div class="card horizontal">
        <div class="card=stacked">
          <div class="card-content">
            <p>Titre : {{ usersdiner.diner.title}}</p>
            <p>Nom : {{ usersdiner.diner.description}}</p>
            <p>Nombre de places : {{ usersdiner.nbPlaces}}</p>
          </div>
          <a class="navbar-brand" (click)="selectDiner(diner.id)">Voir le diner</a>
        </div>
      </div>
      <mat-checkbox>Clic ! </mat-checkbox>
    </div>
  </div>
</div>
