
<div *ngIf="user">
  <h2 class="header center">Bonjour  {{ user.profile.firstName }}</h2>

</div>
<form *ngIf="user" #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel">
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" id="name" class="form-control" name="name" #name="ngModel" [(ngModel)]='user.profile.name' required pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._;\-\,\!\?\'\s-]{1,100}$">
        </div>
        <div class="form-group">
          <label for="surname">Prénom</label>
          <input type="text" id="surname" class="form-control" name="surname" #name="ngModel" [(ngModel)]='user.profile.firstName' required pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._;\-\,\!\?\'\s-]{1,100}$">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" class="form-control" name="email" #name="ngModel" [(ngModel)]='user.profile.email' required >
        </div>
        <div class="form-group">
          <label for="specAlim">Régimes alimentaires, allergies</label>
          <input type="text" id="specAlim" class="form-control" name="specAlim" #name="ngModel" [(ngModel)]='user.profile.specAlim' required pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._;\-\,\!\?\'\s-]{1,100}$">
        </div>

        <!--<div [hidden]="stock.valid || stock.pristine" class="card-panel red accent-1">-->
        <!-- pristine = n'a jamais ete modifier -->
        <!--Le stock de l'artiste est recauis-->
        <!--</div>-->



        <div class="divider"></div>
        <div class="section center">
          <!--<button [disabled]="!disqueForm.valid" type="submit" class="btn waves-effect waves-light purple darken-4">Valider</button>-->
        </div>
      </div>

    </div>

  </div>

</form>
