@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/*.ng-invalid:not(form){*/
  /*border-left:5px solid red;*/
/*}*/

/*.ng-valid:not(form){*/
  /*border-left:5px solid green;*/
/*}*/
:root{
    --blue-custom : #264653;
    --orange-custom : #ffa85a;
    --black-custom : #131313;
}
a:hover{
    text-decoration: none;
}
body{
    font-family: 'Barlow', sans-serif;
    background-color: white;
}
.bold{
    font-weight: 700;
}
.light{
    font-weight: 300;
}
.regular{
    font-weight: 400;
}
.medium{
    font-weight: 500;
}

.whiteText{
    color: white !important;
}

.blueText{
    color: var(--blue-custom) !important;
}

.orangeText{
    color: var(--orange-custom) !important;
}


.card{
    border: none !important;
    border-radius: unset !important;
    cursor: pointer;
    height: 600px;
}
.card-content{
    border: 1px solid var(--blue-custom);
    border-top: none;
    height: 350px;
}
.card-image{
    overflow: hidden;
    position: relative;
    height: 250px;
}
.card-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.card-title{
    padding: 10px 0px 10px 5px;
    font-size: 2rem;
    border-bottom: 2px solid var(--orange-custom);
    text-transform: uppercase;
    height: 96px;
    display: flex;
    align-items: center;
}
.card-info{
    display: flex;
    flex-direction: row;
}
.card-info-left{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.card .dayDate{
    font-size: 4rem;
}
.card .monthDate{
    text-transform: uppercase;
    font-size: 2rem;
}

.card-info-right span{
    margin: 5px;
    font-size: 1.5rem;
}
.card-info-right span.date{
    text-transform: capitalize;
}

.card .reserve{
    padding: 10px 20px;
    text-align: right;
    text-decoration: underline;
    font-size: 1.5rem;
}
.card .reserve a{
    cursor: pointer;

}

.custom-dropdown{
    position: absolute;
    z-index: 999;
    background-color: white;
}
.custom-dropdown ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column !important;
    text-align: left !important;
    justify-content: left !important;
    align-items: flex-start;
    width: 100%;
}
.custom-dropdown ul li{
    outline: none;
    cursor: pointer;
}
.hideDrop {
    display: none;
}
.showDrop{
    display: flex;
}
ngb-modal-window.modal{
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.contentPopIn{
    background-color: var(--white);
    border: 2px solid var(--blue-custom);
    padding: 50px 50px;
    width: 100%;
}
.popIn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.crossPopIn{
    background-color: var(--blue-custom);
    width: 50px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}
.modal-content{
    border-radius: 0 !important;
    background-color: transparent !important;
    border : none !important;
}

.underlineAnimation{
    position: relative !important;
}
.underlineAnimation.whiteText::after{
    background-color: white;
}
.underlineAnimation.blueText::after{
    background-color: var(--blue-custom);
}
.underlineContainer{
    cursor: pointer;
}
.underlineContainer .underlineAnimation::after{
    content: '';
    width: 0px;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 2px;
    transition-duration: 300ms;
}
.underlineContainer:hover .underlineAnimation::after{
    width: 100%;
    transition-duration: 300ms;

}


@media screen and (max-width: 756px) {
    .card{
        border: none !important;
        border-radius: unset !important;
        margin: 20px 0;
    }
    .card-image{

        height: 300px;
    }
}
