#returnToConf{

    padding: 20px 0 20px 50px;
}
#returnToConf a{
    position: relative;
    color: var(--blue-custom) !important;
}
#returnToConf a::after{
    position: absolute;
    left: -18px;
    top : 50%;
    content: ' ';
    padding: 3px;
    border-left: 2px solid var(--blue-custom);
    border-bottom: 2px solid var(--blue-custom);
    transform: rotate(45deg) translateY(-50%);
}

.topPage{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
}

.topPage::after{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    background-color: var(--blue-custom);
}
.topPage h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}
.topPage .imgContainer{

    height: 500px;
    overflow: hidden;

}
.topPage .imgContainer img{
    width: 100%;
}

.subscribeBtn{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: var(--blue-custom);
    cursor: pointer;
    font-size: 1.875rem;
}

.custom-container{
    width: 50%;
    margin: 0 auto;
}

.conf-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.conf-info-date{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conf-info-fullday,
.conf-info-month{
    font-size: 2rem;
    line-height: normal;
}
.conf-info-day{
    font-size: 4.5rem;
    line-height: normal;
}

.conf-info-other{
    width: 50%;
}
.conf-info-other-content{
    display: flex;
    flex-direction: row;
}
.conf-info-other-content i {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.conf-info-other-content div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.conf-info-hour,
.conf-info-price{
    font-size: 2rem;
    line-height: normal;
}

.conf-info-place{
    font-size: 1.5rem;
}
.inclus{
    font-size: 1rem;
}