<div id="returnToConf" class="regular">
    <a href="diners/list">RETOUR AUX CONFÉRENCES</a>
</div>
<div class="container-fluid" (window:resize)="onResize($event)">
    <div class="topPage whiteText">
        <h1 class="regular">{{ diner?.title}}</h1>
        <div class="custom-container containerImgBtn">
            <div class="imgContainer">
                <img src="assets/img/desktop/{{diner?.img}}">
            </div>
            <div class="subscribeBtnContainerTop">

                <div class="subscribeBtn regular" *ngIf="!isSubscribe" (click)="subscribeDiner(diner?.id)">Inscrivez vous</div>
                <div class="subscribeBtn regular" *ngIf="isSubscribe" (click)="unsubscribeDiner(diner?.id)">Vous désinscrire</div>
            </div>
        </div>

    </div>
    <div class="custom-container">
        <div class="conf-info regular">
            <div class="conf-info-date">
                <span class="conf-info-fullday">
                    {{diner?.date | date :'EEEE' }}
                </span>
                <span class="conf-info-day">
                    {{ diner?.date | date : 'dd' }}
                </span>
                <span class="conf-info-month">
                    {{diner?.date | date: 'MMMM' : 'fr' }}
                </span>
            </div>
            <div class="conf-info-other">
                <div class="conf-info-hour conf-info-other-content ">
                    <i class="far fa-clock"></i>
                    <div class="w75">
                        {{diner?.date | date:"HH'h'mm"}}
                    </div>
                </div>
                <div class="conf-info-place conf-info-other-content ">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="w75">
                        {{diner?.place.name}}<br>
                        {{diner?.place.numberStreet}} {{diner?.place.nameStreet}}<br>
                        {{diner?.city.code_postal.substr(0,5)}} {{diner?.city.nom_reel}}
                    </div>
                </div>
                <div class="conf-info-price conf-info-other-content ">
                    <i class="fas fa-euro-sign"></i>
                    <div>
                        {{diner?.price}}€
                    </div>
                    <div class="light orangeText inclus">
                        (inclus : une consomation gratuite)
                    </div>
                </div>
            </div>

        </div>
        <div class="conf-user regular">Animé par : {{diner?.user.firstName}} {{diner?.user.name}}</div>
    </div>
    <div class="custom-container">
        <div class="conf-description light">
            <div> {{diner?.description}}</div>
        </div>
    </div>
    <div class="subscribeBtnContainer whiteText">
        <div class="subscribeBtn regular" *ngIf="!isSubscribe" (click)="subscribeDiner(diner?.id)">INSCRIVEZ VOUS</div>
        <div class="subscribeBtn regular" *ngIf="isSubscribe" (click)="unsubscribeDiner(diner?.id)">VOUS DÉSINCRIRE</div>
    </div>
    <div class="recomandationTitle orangeText regular">
        <h2>ÇA PEUT AUSSI VOUS INTÉRESSER</h2>
    </div>
    <div class="recomandationConf">
        <div *ngFor="let d of diners; let i = index" class="col-sm-12 col-md-6 col-lg-4 cardContainer" (click)="selectDiner(d.id)">
            <!-- boucle for -->
            <div   class="card" *ngIf="!mobile">
                <div class="card-image">
                    <img src="assets/img/desktop/{{d?.img}}">
                </div>

                <div class="card-content">
                    <div class = "card-title orangeText medium">{{ d.title}}</div>
                    <div class="card-info blueText">
                        <div class="card-info-left bold">
                            <span class="dayDate">{{ d.date | date : 'dd'}}</span>
                            <span class="monthDate">{{d.date | date: 'MMM' : 'fr' }}</span>
                        </div>
                        <div class="card-info-right light">
                            <span class="date">{{d.date | date :"EEE dd/MM - HH'h'mm"}}</span>
                            <span>{{d.place?.name}} - {{d.city?.nom_reel}}</span>
                        </div>
                    </div>
                    <div class="blueText reserve bold"><a (click)="selectDiner(d.id)">Réservez</a></div>
                </div>
            </div>
            <div *ngIf="mobile" class="blueText">
                {{d?.title}}
            </div>
        </div>
    </div>
    <div class="returnTop row light blueText" (click)="scrolltop()" style="display: none">
            RETOURNER EN HAUT DE LA PAGE

    </div>
</div>

